
<html>

<head>
    <title></title>
</head>

<body>

    <h2 align="center">Unicamente los Usuarios de DIAP pueden utilizar el Sistema</h2>

    @Html.ActionLink("Volver a Inicio", "../Home/Login", "Home", new { area = "" }, new { @class = "btn btn-primary" })


</body>


</html>