@model SOPORTE.Models.falla

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Esta seguro de BORRAR este registro?</h3>
<p>
   
    @Html.ActionLink("Volver", "UserDashBoard", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> 
           
        </div>
    }
</div>
